<%- include('./partials/head.ejs') %> 
  <body>
    <% if (user) { %>  
     <%- include('./partials/user-nav') %> 
      <h1>WELCOME <%= user.username %> </h1>
    <% } else { %>  
      <%- include('./partials/nav') %> 
      <h1>YOUR NOT LOGGED IN</h1>
    <% } %> 
    <%- include('./partials/footer') %> 
  </body>
</html>